.divider__container{
    display: flex;
    flex-direction: column;    
    align-items: center;
    justify-content: center;
    width: 100%;
    row-gap: 0.7rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.divider__top__title{
    font-size: 15px;
    font-family: vazir;
    color: #696969;
}
.divider__line{
    width: 10%;
    height: 3px;
    background-color: #007aff;
}
.divider__bottom__title{
    font-size: 25px;
    font-family: vazir;
    color: #000000;
}