.icon__box__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 1rem;
    text-align: center;  
    width: 90%;
    /* box-shadow:  2px 2px 2px 2px rgba(0, 0, 0, 0.1); */
    box-shadow: 1px 5px 12px #00000030;
    border-radius: 8px;
}
.box__icon__img{
    height: 50px;
    margin-bottom: 1rem;
}
