.person__container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
}
.person__image{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.person__task__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.person__task {
    color: #515151;
    font-size: 15px;
    font-family: vazir;
    margin-right: 1rem;
}

.person__name{
    color: #515151;
    font-size: 15px;
    font-family: vazir;
    margin-top: 2rem;
}
.person__image img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #2464ae;
}