.all__news__container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    column-gap: 1rem;
    margin-top: 0.5rem;
}
.all__news__right{
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.all__news__left{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.all__line__page__container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;   
    align-items: center;
    column-gap: 0.8rem;
}
.pagination__number{
    cursor: pointer;
}
.all__news__left__title__container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.all__news__left__title{
    font-size: 1rem;
    font-weight: 600;
    color: #000;
    border-bottom: 1px solid #000;
}
.all__news__left__import__container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 1rem;
}